.service-carousel {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  // background: #000;
  margin: 0;
  padding: 0;

  .stage,
  .ring,
  .img {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    user-select: none;
  }

  .stage {
    overflow: hidden;
    background: #000;
    margin: 0;
    padding: 0;
  }

  .container {
    position: absolute;
    perspective: 2000px;
    width: 300px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
  }

  .ring {
    width: 100%;
    height: 100%;
    position: relative;
    background: transparent;
  }

  .img {
    position: absolute;
    width: 300px;
    height: 400px;
    left: 0;
    top: 0;
    background-size: 600px 400px;
    background-repeat: no-repeat;
    border-radius: 6px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8);
  }
}
